<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import CSS stylesheet minified for Bootstrap with CDN, then link for icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>GrandPY Bot</title>

    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
          height: 400px;
          /* The height is 400 pixels */
          width: 100%;
          /* The width is the width of the web page */
        }
    </style>

</head>

<body>

    <div class="expand bg-secondary">

        <div class = "container">

            <div class="row align-items-center">
                <img src="../static/img/logo bot.png" width="50" height="40" alt="Site logo">
                <div class="col text-white font-weight-bold">
                    De mon temps, les GPS n'existaient pas, on était obligés de réfléchir !
                </div>
            </div>

        </div>

    </div>

    <div class = "container">

        <div class = "jumbotron mt-5">
            <div class="row">

                <div class="col-12 col-md-7 col-lg-6 border mb-3 mb-md-0"> 
                    <!--Chat Box Here-->
                    <div id="output_question"></div>
                    <div id="address"></div>
                    <div id="summary"></div>
                    <div id="url"></div>
                </div>

                <form class="form-inline col-12 col-md-5 col-lg-6 align-self-center">

                    <!--User Question-->
                    <div class="form-group">
                        <input type="text" class="form-control" id="userQuestion" placeholder="Que voulez-vous savoir ?">       <!--Input field, with his ID and bootstrap classes-->
                    </div>

                </form>

                <div class="col-12 border text-center mt-3">
                    
                    <h4>Powered by Google Maps</h4>
                    <!--The div element for the map -->
                    <div id="map"></div>

                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/index_functions.js"></script>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 text-center font-weight-bold">
                Duval Thomas
            </div>
            <div>
                <ul class="list-inline social-network social-circle">
                    <li class = "list-inline-item"><a href="https://github.com/Thomas31280/Repo-P_7" class="icoGithub" title="Github"><i class="fa fa-github"></i> Github</a></li>
                    <li class = "list-inline-item"><a href="https://www.facebook.com/thomas.duval.1654/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li class = "list-inline-item"><a href="https://twitter.com/home" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li class = "list-inline-item"><a href="https://www.linkedin.com/in/thomas-duval-3860441b6/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Import jQuery first, then Popper.js, then Bootstrap JS with CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA82ltceuy0tyvC3y6DgU-1x73AApjnN5M&callback=initMap&libraries=&v=weekly" async></script>


</body>
</html>